<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout">

<head>
    <title>Pinewood Derby</title>
</head>
<body>
<!-- Header -->

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content" class="no-margin">

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="col standings">
                <div class="row">
                    <h1><i class="fa fa-trophy"></i> Standings</h1>
                </div>
                <div class="row">
                    <table class="table table-sm table-striped text-center">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><i class="fa fa-user"></i> Racer</th>
                            <th scope="col"><i class="fa fa-clock-o"></i> Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>2.001</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>2.004</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>2.009</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Mark</td>
                            <td>2.300</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Jacob</td>
                            <td>2.566</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Larry</td>
                            <td>2.789</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Mark</td>
                            <td>2.902</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Jacob</td>
                            <td>2.991</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Larry</td>
                            <td>3.245</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Mark</td>
                            <td>3.764</td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>Jacob</td>
                            <td>3.943</td>
                        </tr>
                        <tr>
                            <th scope="row">12</th>
                            <td>Larry</td>
                            <td>4.223</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col heats">

                <div class="row">
                    <h1><i class="fa fa-road"></i> Current Heat <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-play-circle"></i> redo</button> </h1>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        <div class="lane">Lane 1</div>
                        <div class="racer-name current-racer">Christian</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 3.456</div>
                        <div class="time"><i class="fa fa-clock-o"></i> 3.456</div>
                        <div class="position"><span class="badge badge-pill">--</span></div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 2</div>
                        <div class="racer-name current-racer">Reed</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 3.456</div>
                        <div class="time"><i class="fa fa-clock-o"></i> 2.422</div>
                        <div class="position"><span class="badge badge-pill">--</span></div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 3</div>
                        <div class="racer-name current-racer">Jarom</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 3.456</div>
                        <div class="time"><i class="fa fa-clock-o"></i> 2.543</div>
                        <div class="position"><span class="badge badge-pill">--</span></div>
                    </div>
                </div>


                <div class="row upcoming-heats">
                    <h1><i class="fa fa-exchange"></i> Up Next... <button type="button" class="btn btn-sm btn-success"><i class="fa fa-play-circle"></i> start race</button></h1>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        <div class="lane">Lane 1</div>
                        <div class="racer-name">Christian</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 3.456</div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 2</div>
                        <div class="racer-name">Reed</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 2.422</div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 3</div>
                        <div class="racer-name">Jarom</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 2.543</div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12"><hr/></div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        <div class="lane">Lane 1</div>
                        <div class="racer-name">Christian</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 3.456</div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 2</div>
                        <div class="racer-name">Reed</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 2.422</div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 3</div>
                        <div class="racer-name">Jarom</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 2.543</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"><hr/></div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        <div class="lane">Lane 1</div>
                        <div class="racer-name">Christian</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 3.456</div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 2</div>
                        <div class="racer-name">Reed</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 2.422</div>
                    </div>
                    <div class="col-4 text-center">
                        <div class="lane">Lane 3</div>
                        <div class="racer-name">Jarom</div>
                        <div class="best-time"><i class="fa fa-clock-o"></i> Best Time: 2.543</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</th:block>
</body>
</html>