<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      th:with="currentPage='heats'">

<head>
    <title>Pinewood Derby</title>
    <link th:href="@{/js/SlickGrid-2.3.2/slick.grid.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/SlickGrid-2.3.2/lib/jquery.event.drag-2.2.js}"></script>
    <script th:src="@{/js/SlickGrid-2.3.2/slick.core.js}"></script>
    <script th:src="@{/js/SlickGrid-2.3.2/slick.grid.js}"></script>
    <script th:src="@{/js/bootstrap-slickgrid.js}"></script> 
</head>
<body>
<!-- Header -->

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="hero-unit">
        <h1>Heat Sheets</h1>
        <p>
        	<form id="heat-sheet-form" class="form-inline" action="/api/heat/management/sheet/build">
        	  <input type="hidden" class="form-control" name="id"/>
			  <div class="form-group">
			    <label for="runsPerRacer"># of Runs Per Racer:</label>
		      	<select id="runsPerRacer" name="runsPerRacer" class="form-control form-control-sm">
				  <option></option>
				  <option value="5">3</option>
				  <option value="7">6</option>
				  <option value="9">9</option>
				  <option value="12">12</option>
			  	</select>
			  </div>
			  <button type="submit" class="btn btn-large btn-success"><i class="glyphicon glyphicon-equalizer"></i>&nbsp; Create Sheet</button>
			</form>
        </p>
    </div>
    <div id="sheetSummaryList" class="grid">
    </div>
    <script th:src="@{/js/heats.js}"></script> 
</th:block>
</body>
</html>