<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/layout"
      th:with="currentPage='registration'">

<head>
    <title>Pinewood Derby</title>
    <link th:href="@{/js/SlickGrid-2.3.2/slick.grid.css}" rel="stylesheet" media="screen" />
    <script th:src="@{/js/SlickGrid-2.3.2/lib/jquery.event.drag-2.2.js}"></script>
    <script th:src="@{/js/SlickGrid-2.3.2/slick.core.js}"></script>
    <script th:src="@{/js/SlickGrid-2.3.2/slick.grid.js}"></script>
    <script th:src="@{/js/SlickGrid-2.3.2/slick.dataview.js}"></script>
    <script th:src="@{/js/SlickGrid-2.3.2/slick.groupitemmetadataprovider.js}"></script>
    <script th:src="@{/js/bootstrap-slickgrid.js}"></script> 
    
</head>
<body>
<!-- Header -->

<!-- Insert content into the layouts/layout.html -->
<th:block layout:fragment="content">
    <div class="hero-unit">
        <h1>Registration</h1>
        <p>
        	<form id="racer-registration-form" class="form-inline" action="/api/racer">
        	  <input type="hidden" class="form-control" name="id"/>
			  <div class="form-group">
			    <label for="racerName">Racer Name:</label>
			    <input type="text" class="form-control form-control-sm" id="racerName" name="racerName"/>
			  </div>
			  <div class="form-group">
			    <label for="carNumber">Car #:</label>
			    <input type="text" class="form-control form-control-sm" id="carNumber" name="carNumber" size="10" />
			  </div>
			  <div class="form-group">
			    <label for="groupName">Group:</label>
		      	<select id="groupName" name="groupName" class="form-control form-control-sm">
				  <option></option>
				  <option value="wolves">wolves</option>
				  <option value="bears">bears</option>
				  <option value="webelos">webelos</option>
			  	</select>
			  </div>
			  <button type="submit" class="btn btn-large btn-success"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
			</form>
        </p>
    </div>
    <div id="racerList" class="grid">
    </div>
    <script th:src="@{/js/registration.js}"></script> 
</th:block>

</body>
</html>